<div class="pos">
  <header>
    <div class="search">
      <i class="bi bi-search"></i>
      <input type="text" name="" id="" class="form-control" placeholder="Add Product to cart (F3)">
    </div>
    <div class="mode">
      <button class="btn btn-default" type="button">
        <i class="bi bi-upc-scan"></i>
        <span>(F10)</span>
      </button>
    </div>
    <div class="orders">
      <div class="order-tabs">
        <button type="button" class="btn btn-primary">
          Order 1
          <i class="bi bi-x-circle"></i>
        </button>
      </div>
      <div class="order-tabs">
        <button type="button" class="btn btn-primary">
          Order 2
          <i class="bi bi-x-circle"></i>
        </button>
      </div>
    </div>
    <div class="branches">
      <button class="btn btn-default" type="button">
        <i class="bi bi-geo-alt"></i>
        Default Branch
      </button>
      <button class="btn btn-default" type="button">
        <i class="bi bi-person"></i>
        Username
      </button>
    </div>
    <div class="menu">
      <button class="btn btn-default" type="button">
        <i class="bi bi-table"></i>
      </button>
      <button class="btn btn-default" type="button">
        <i class="bi bi-arrows-fullscreen"></i>
      </button>
      <button class="btn btn-default" type="button">
        <i class="bi bi-wifi"></i>
      </button>
      <button class="btn btn-default" type="button">
        <i class="bi bi-house"></i>
      </button>
      <button class="btn btn-default" type="button">
        Shortcut
      </button>
    </div>
  </header>
  <div class="main">
    <div class="cart">
      <div class="card_header">
        <div class="column column--order">Order</div>
        <div class="column column--sku">SKU</div>
        <div class="column column--product">Product</div>
        <div class="column column--unit">Unit</div>
        <div class="column column--qty">Qty</div>
        <div class="column column--sub">Sub Total</div>
        <div class="column column--total">Total</div>
      </div>
      <div class="card_body">
        <ng-container *ngFor="let p of products">
          <div class="column column--order">{{p.order}}</div>
          <div class="column column--sku">{{p.sku}}</div>
          <div class="column column--product">{{p.productName}}</div>
          <div class="column column--unit">{{p.unit}}</div>
          <div class="column column--qty">{{p.qty}}</div>
          <div class="column column--sub">{{p.subTotal}}</div>
          <div class="column column--total">{{p.total}}</div>
        </ng-container>
      </div>
    </div>
    <div class="payment">
      <div class="form-group">
        <i class="bi bi-search"></i>
        <input type="text" class="form-control" placeholder="Search customer (F4)" />
        <button class="btn btn-default" type="button">
          <i class="bi bi-add"></i>
        </button>
      </div>
      <div class="form-group">
        <div class="form-check form-switch">
          <input type="checkbox" role="switch" id="delivery">
          <label class="form-check-label" for="delivery">Shipping</label>
        </div>
      </div>
      <div class="payment-items">
        <div class="payment-item">
          <label for="label">Sub total: (2 products)</label>
          <label for="value">1,550,000</label>
        </div>
        <div class="payment-item">
          <label for="label">VAT</label>
          <label for="value">0</label>
        </div>
        <div class="payment-item">
          <label for="label">Discount (F6)</label>
          <label for="value">0</label>
        </div>
        <div class="payment-item-strong">
          <label for="label">Total</label>
          <label for="value">1,550,000</label>
        </div>
        <div class="payment-item-strong">
          <label for="label">Customer pay (F2)</label>
          <label for="value">1,550,000</label>
        </div>
        <div class="quick-amounts">
          <button type="button" class="btn btn-default">100000</button>
          <button type="button" class="btn btn-default">100000</button>
          <button type="button" class="btn btn-default">100000</button>
          <button type="button" class="btn btn-default">100000</button>
          <button type="button" class="btn btn-default">100000</button>
          <button type="button" class="btn btn-default">100000</button>
        </div>
        <div class="payment-item-strong">
          <label for="label">Return</label>
          <label for="value">0</label>
        </div>
        <div class="form-group">
          <i class="bi bi-pencil"></i>
          <input type="text" class="form-control" placeholder="Notes">
        </div>
        <div class="actions">
          <button type="button" class="btn btn-light">
            Multiple payments (F7)
          </button>
          <button type="button" class="btn btn-success">
            Multiple payments (F7)
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
